body {
  font-family: "Poppins", sans-serif;
}

.img-fluid {
  width: 180px;
}

.btn {
  background-color: #21b573;
  border: none;
  border-radius: 33px;
  font-weight: 200;
  color: white;
}
.main {
  background-color: #f0fff0;
}
.nav-link {
  font-weight: 400;
  color: rgb(15, 15, 15);
}
.nav-link:hover {
  color: #21b573;
}
.showcaseIMG{
    width: 554px;
    height: 346px;
}
.showcaseTXT h2{
    font-size: 48px;
    font-weight: 700;
}
#question{
    color:#FF4A11;
    ;
}
.showcaseTXT span{
    color: #21b573;
}
.category img{
  width: 80px;
  height: 85px;
  padding: 10px;
  
}
.category{
  margin-top: 30px;
}
.category h6{
  color:  #413960;
  font-weight: 500;
  font-size: 24px;
}
.category p{
  font-size: 16px;
}

.box-cat{
  height: 270px;
  width: 270px;
  box-shadow: 9px 12px 15px -15px gray;
}

.course_pic{
  width: 331px;
  height: 234px;
  
  border-radius: 11px;
}
.courses h2{
  color:  #413960;
}
.footer_icon{
  width: 18px;
}
.course_date{
  font-size: 10px;
}
.course-box{
  width: 370px;
  height: 415px;
  padding: 20px;
  box-shadow: 9px 12px 15px -15px gray;
}

.testimonial img{
width: 120px;
height: 120px;
}

.man_text{
  padding: 0px 150px;
}
.list_item{
  list-style-type: none;
}
.headText{
  font-weight: bold;
}
footer{
  background-color: #282531;
  color: white;
  padding: 30px 0 20px;
  margin-top: 20px;
}
footer li{
  font-weight: 200;
}
.copyright{
  margin-top: 20px;
  font-size: 14px;
}
